td {
  position: relative;
}

td.line-column {
  width: 2px;
  overflow: visible;
}

input[type='checkbox'] {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  z-index: 1;

}

