* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container.main {
    display: flex;
}

.container.top {
    display: flex;

}

.container.text-heading {
    display: flex;

}

.bright-text {
 font-size: ;
 font-weight: ;
 color: 

}

.dim-text {

}



